$color-1 : #9e0059 ;
$color-2 : #ff0054 ; 
$color-3 : #ff5400 ; 
$color-4 : #ffbd00 ; 

$mobile : 576px;
$tablet : 768px;
$laptop : 992px;
$desktop : 1200px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    body {
        font-size: 35px;
        font-family: sans-serif;
    }

}

.container {
    background-color: #390099 ;
    height: 100vh;
    display: grid;
    place-content: center;
}

@media screen and (min-width: $mobile) {
    .container {
        background-color: $color-1;
    }
}

@media screen and (min-width: $tablet) {
    .container {
        background-color: $color-2;
    }
}

@media screen and (min-width: $laptop) {
    .container {
        background-color: $color-3;
    }
}

@media screen and (min-width: $desktop) {
    .container {
        background-color: $color-4;
    }
}

.text {

}

#size {
    position: absolute;

    top: 55%;
    left: 50%;

    transform: translateX(-50%);

    color: white;
    font-size: 30px;
}